In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Load the training and test datasets
training_df = pd.read_csv('/kaggle/input/titanic/train.csv')
test_df = pd.read_csv('/kaggle/input/titanic/test.csv')
test_passenger_ids = test_df['PassengerId']

In [3]:
#check for the missing data

from pandas.io.formats.info import DataFrameInfo

temp = pd.DataFrame(training_df)

info = DataFrameInfo(data=temp)
infodf = pd.DataFrame(
  {'Column': info.ids, 
   'Non-Null Count':info.non_null_counts, 
   'Dtype':info.dtypes})

pd.set_option('display.max_rows', None)
print(infodf.sort_values(by=['Non-Null Count']))

                  Column  Non-Null Count    Dtype
Cabin              Cabin             204   object
Age                  Age             714  float64
Embarked        Embarked             889   object
PassengerId  PassengerId             891    int64
Survived        Survived             891    int64
Pclass            Pclass             891    int64
Name                Name             891   object
Sex                  Sex             891   object
SibSp              SibSp             891    int64
Parch              Parch             891    int64
Ticket            Ticket             891   object
Fare                Fare             891  float64

In [4]:
training_targets = training_df['Survived']
training_df.drop(['Cabin','PassengerId','Name','Survived','Ticket'],axis=1,inplace=True)
Age_mean = training_df['Age'].mean()
training_df['Age'].fillna(Age_mean, inplace=True)
Embarked_mode = training_df['Embarked'].mode()

training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [5]:
one_hot_columns_list = ['Embarked','Pclass','Sex']
one_hot_encoded_data = pd.get_dummies(training_df[one_hot_columns_list],columns = one_hot_columns_list, drop_first=True).astype(int)
one_hot_encoded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Embarked_Q  891 non-null    int64
 1   Embarked_S  891 non-null    int64
 2   Pclass_2    891 non-null    int64
 3   Pclass_3    891 non-null    int64
 4   Sex_male    891 non-null    int64
dtypes: int64(5)
memory usage: 34.9 KB

In [6]:
numeric_continuous_columns_list=['Age','Parch','SibSp','Fare']
for column in numeric_continuous_columns_list:
    training_df[column] = (training_df[column] - training_df[column].min()) / (training_df[column].max() - training_df[column].min())
training_df.describe()

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     2.308642    0.367921    0.065376    0.063599    0.062858
std      0.836071    0.163383    0.137843    0.134343    0.096995
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%      2.000000    0.271174    0.000000    0.000000    0.015440
50%      3.000000    0.367921    0.000000    0.000000    0.028213
75%      3.000000    0.434531    0.125000    0.000000    0.060508
max      3.000000    1.000000    1.000000    1.000000    1.000000

In [7]:
temp = pd.DataFrame(test_df)

info = DataFrameInfo(data=temp)
infodf = pd.DataFrame(
  {'Column': info.ids, 
   'Non-Null Count':info.non_null_counts, 
   'Dtype':info.dtypes})

pd.set_option('display.max_rows', None)
print(infodf.sort_values(by=['Non-Null Count']))

                  Column  Non-Null Count    Dtype
Cabin              Cabin              91   object
Age                  Age             332  float64
Fare                Fare             417  float64
PassengerId  PassengerId             418    int64
Pclass            Pclass             418    int64
Name                Name             418   object
Sex                  Sex             418   object
SibSp              SibSp             418    int64
Parch              Parch             418    int64
Ticket            Ticket             418   object
Embarked        Embarked             418   object

In [8]:
test_df.drop(['Cabin','PassengerId','Name','Ticket'],axis=1,inplace=True)
Age_mean = test_df['Age'].mean()
test_df['Age'].fillna(Age_mean, inplace=True)
Embarked_mode = test_df['Embarked'].mode()

test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      417 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

In [9]:
one_hot_encoded_data_test = pd.get_dummies(test_df[one_hot_columns_list],columns = one_hot_columns_list, drop_first=True).astype(int)
one_hot_encoded_data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Embarked_Q  418 non-null    int64
 1   Embarked_S  418 non-null    int64
 2   Pclass_2    418 non-null    int64
 3   Pclass_3    418 non-null    int64
 4   Sex_male    418 non-null    int64
dtypes: int64(5)
memory usage: 16.5 KB

In [10]:
for column in numeric_continuous_columns_list:
    test_df[column] = (test_df[column] - test_df[column].min()) / (test_df[column].max() - test_df[column].min())
test_df.describe()

           Pclass         Age       SibSp       Parch        Fare
count  418.000000  418.000000  418.000000  418.000000  417.000000
mean     2.265550    0.396975    0.055921    0.043594    0.069540
std      0.841838    0.166617    0.112095    0.109048    0.109124
min      1.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000    0.301068    0.000000    0.000000    0.015412
50%      3.000000    0.396975    0.000000    0.000000    0.028213
75%      3.000000    0.469207    0.125000    0.000000    0.061484
max      3.000000    1.000000    1.000000    1.000000    1.000000

In [11]:
preprocessed_training_df = pd.concat([training_df[numeric_continuous_columns_list], one_hot_encoded_data], axis=1, join='inner')
preprocessed_test_df = pd.concat([test_df[numeric_continuous_columns_list], one_hot_encoded_data_test], axis=1, join='inner')

In [12]:
preprocessed_training_df.describe()

,Age,Parch,SibSp,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.367921,0.063599,0.065376,0.062858,0.086420,0.722783,0.206510,0.551066,0.647587
std,0.163383,0.134343,0.137843,0.096995,0.281141,0.447876,0.405028,0.497665,0.477990
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.271174,0.000000,0.000000,0.015440,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.367921,0.000000,0.000000,0.028213,0.000000,1.000000,0.000000,1.000000,1.000000
75%,0.434531,0.000000,0.125000,0.060508,0.000000,1.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
preprocessed_training_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         891 non-null    float64
 1   Parch       891 non-null    float64
 2   SibSp       891 non-null    float64
 3   Fare        891 non-null    float64
 4   Embarked_Q  891 non-null    int64
 5   Embarked_S  891 non-null    int64
 6   Pclass_2    891 non-null    int64
 7   Pclass_3    891 non-null    int64
 8   Sex_male    891 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 62.8 KB

In [14]:
preprocessed_test_df.describe()

,Age,Parch,SibSp,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male
count,418.000000,418.000000,418.000000,417.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,0.396975,0.043594,0.055921,0.069540,0.110048,0.645933,0.222488,0.521531,0.636364
std,0.166617,0.109048,0.112095,0.109124,0.313324,0.478803,0.416416,0.500135,0.481622
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.301068,0.000000,0.000000,0.015412,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.396975,0.000000,0.000000,0.028213,0.000000,1.000000,0.000000,1.000000,1.000000
75%,0.469207,0.000000,0.125000,0.061484,0.000000,1.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
preprocessed_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         418 non-null    float64
 1   Parch       418 non-null    float64
 2   SibSp       418 non-null    float64
 3   Fare        417 non-null    float64
 4   Embarked_Q  418 non-null    int64
 5   Embarked_S  418 non-null    int64
 6   Pclass_2    418 non-null    int64
 7   Pclass_3    418 non-null    int64
 8   Sex_male    418 non-null    int64
dtypes: float64(4), int64(5)
memory usage: 29.5 KB

In [16]:
preprocessed_training_df[preprocessed_training_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Age, Parch, SibSp, Fare, Embarked_Q, Embarked_S, Pclass_2, Pclass_3, Sex_male]
Index: []

In [17]:
preprocessed_test_df[preprocessed_test_df.isna().any(axis=1)]

,Age,Parch,SibSp,Fare,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male
152,0.795595,0.0,0.0,NaN,0,1,0,1,1

In [18]:
Fare_mean = training_df['Fare'].mean()
preprocessed_test_df['Fare'].fillna(Fare_mean, inplace=True)

In [19]:
preprocessed_test_df[preprocessed_test_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Age, Parch, SibSp, Fare, Embarked_Q, Embarked_S, Pclass_2, Pclass_3, Sex_male]
Index: []

In [20]:
# https://scikit-learn.org/stable/auto_examples/linear_model/plot_iris_logistic.html
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e5, multi_class='multinomial')

# Create an instance of Softmax and fit the data.
logreg.fit(preprocessed_training_df, training_targets)

LogisticRegression(C=100000.0, multi_class='multinomial')

In [21]:
#performance of training
y_train_pred = logreg.predict(preprocessed_training_df)
print(y_train_pred)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 1 1 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 1 0 1 0 0
 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 1 0
 1 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 1 1 1 0 0 0 0 1
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1
 0 1 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 1
 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 1
 0 1 0 1 1 0 0 1 0 1 1 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 0 1 1 0 0
 0 1 0 0 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1
 1 0 0 1 1 1 1 1 0 0 1 1 0 1 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 0 1 0 1 0 0
 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 1
 0 1 1 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 0
 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 1 1 1 0 0 0 0 0 0 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 1 0 0 1 0 0 1 1 1 0 1 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1
 0 1 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1 1 1 0 1 1 0 1 0 1 0 0 0 0 0 1
 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 1
 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 1 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0
 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0
 0 1 1 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 1
 0 1 0]

In [22]:
# errors
error_train = training_targets - y_train_pred
error_train_squared = np.power(error_train,2)
print("Training error mean: ", error_train.mean())
print("Training squared error mean: ", error_train_squared.mean())

Training error mean:  0.03367003367003367
Training squared error mean:  0.19528619528619529

In [23]:
error_train_sum = (error_train.abs()).sum()
print("Training absolute error sum, percentage error: ", error_train_sum, (error_train_sum/891)*100 )

Training absolute error sum, percentage error:  174 19.52861952861953

In [24]:
y_test_pred = logreg.predict(preprocessed_test_df)

In [25]:
print(y_test_pred)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [26]:
y_test_pred_df = pd.DataFrame(y_test_pred, columns = ['Survived'])

In [27]:
submission_list = pd.concat([test_passenger_ids, y_test_pred_df], axis=1, join='inner')

In [28]:
submission_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [29]:
print(submission_list)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
30           922         0
31           923         0
32           924         0
33           925         0
34           926         0
35           927         0
36           928         1
37           929         1
38           930         0
39           931         0
40           932         0
41           933         0
42           934         0
43           935         1
44           936         1
45           937         0
46           938         0
47           939         0
48           940         1
49           941         0
50           942         0
51           943         0
52           944         1
53           945         1
54           946         0
55           947         0
56           948         0
57           949         0
58           950         0
59           951         1
60           952         0
61           953         0
62           954         0
63           955         1
64           956         1
65           957         1
66           958         1
67           959         0
68           960         1
69           961         1
70           962         1
71           963         0
72           964         1
73           965         1
74           966         1
75           967         1
76           968         0
77           969         1
78           970         0
79           971         1
80           972         0
81           973         0
82           974         0
83           975         0
84           976         0
85           977         0
86           978         1
87           979         1
88           980         1
89           981         0
90           982         1
91           983         0
92           984         1
93           985         0
94           986         1
95           987         0
96           988         1
97           989         0
98           990         1
99           991         0
100          992         1
101          993         0
102          994         0
103          995         0
104          996         1
105          997         0
106          998         0
107          999         0
108         1000         0
109         1001         0
110         1002         0
111         1003         1
112         1004         1
113         1005         1
114         1006         1
115         1007         0
116         1008         0
117         1009         1
118         1010         1
119         1011         1
120         1012         1
121         1013         0
122         1014         1
123         1015         0
124         1016         0
125         1017         1
126         1018         0
127         1019         1
128         1020         0
129         1021         0
130         1022         0
131         1023         0
132         1024         1
133         1025         0
134         1026         0
135         1027         0
136         1028         0
137         1029         0
138         1030         1
139         1031         0
140         1032         0
141         1033         1
142         1034         0
143         1035         0
144         1036         0
145         1037         0
146         1038         0
147         1039         0
148         1040         0
149         1041         0
150         1042         1
151         1043         0
152         1044         0
153         1045         0
154         1046         0
155         1047         0
156         1048         1
157         1049         1
158         1050         0
159         1051         1
160         1052         1
161         1053         0
162         1054         1
163         1055         0
164         1056         0
165         1057         1
166         1058         0
167         1059         0
168         1060         1
169         1061         1
170         1062         0
171         1063         0
172         1064         0
173         1065         0
174         1066         0
175         1067         1
176         1068         1
177         1069         0
178         1070         1
179         1071         1
180         1072         0
181         1073         0
182         1074         1
183         1075         0
184         1076         1
185         1077         0
186         1078         1
187         1079         0
188         1080         0
189         1081         0
190         1082         0
191         1083         0
192         1084         0
193         1085         0
194         1086         0
195         1087         0
196         1088         1
197         1089         1
198         1090         0
199         1091         1
200         1092         1
201         1093         0
202         1094         0
203         1095         1
204         1096         0
205         1097         1
206         1098         1
207         1099         0
208         1100         1
209         1101         0
210         1102         0
211         1103         0
212         1104         0
213         1105         0
214         1106         0
215         1107         0
216         1108         1
217         1109         0
218         1110         1
219         1111         0
220         1112         1
221         1113         0
222         1114         1
223         1115         0
224         1116         1
225         1117         1
226         1118         0
227         1119         1
228         1120         0
229         1121         0
230         1122         0
231         1123         1
232         1124         0
233         1125         0
234         1126         0
235         1127         0
236         1128         0
237         1129         0
238         1130         1
239         1131         1
240         1132         1
241         1133         1
242         1134         0
243         1135         0
244         1136         0
245         1137         0
246         1138         1
247         1139         0
248         1140         1
249         1141         1
250         1142         1
251         1143         0
252         1144         1
253         1145         0
254         1146         0
255         1147         0
256         1148         0
257         1149         0
258         1150         1
259         1151         0
260         1152         0
261         1153         0
262         1154         1
263         1155         1
264         1156         0
265         1157         0
266         1158         0
267         1159         0
268         1160         1
269         1161         0
270         1162         0
271         1163         0
272         1164         1
273         1165         1
274         1166         0
275         1167         1
276         1168         0
277         1169         0
278         1170         0
279         1171         0
280         1172         1
281         1173         0
282         1174         1
283         1175         1
284         1176         1
285         1177         0
286         1178         0
287         1179         0
288         1180         0
289         1181         0
290         1182         0
291         1183         1
292         1184         0
293         1185         0
294         1186         0
295         1187         0
296         1188         1
297         1189         0
298         1190         0
299         1191         0
300         1192         0
301         1193         0
302         1194         0
303         1195         0
304         1196         1
305         1197         1
306         1198         0
307         1199         0
308         1200         0
309         1201         0
310         1202         0
311         1203         0
312         1204         0
313         1205         1
314         1206         1
315         1207         1
316         1208         0
317         1209         0
318         1210         0
319         1211         0
320         1212         0
321         1213         0
322         1214         0
323         1215         0
324         1216         1
325         1217         0
326         1218         1
327         1219         0
328         1220         0
329         1221         0
330         1222         1
331         1223         0
332         1224         0
333         1225         1
334         1226         0
335         1227         0
336         1228         0
337         1229         0
338         1230         0
339         1231         0
340         1232         0
341         1233         0
342         1234         0
343         1235         1
344         1236         0
345         1237         1
346         1238         0
347         1239         1
348         1240         0
349         1241         1
350         1242         1
351         1243         0
352         1244         0
353         1245         0
354         1246         1
355         1247         0
356         1248         1
357         1249         0
358         1250         0
359         1251         0
360         1252         0
361         1253         1
362         1254         1
363         1255         0
364         1256         1
365         1257         0
366         1258         0
367         1259         1
368         1260         1
369         1261         0
370         1262         0
371         1263         1
372         1264         0
373         1265         0
374         1266         1
375         1267         1
376         1268         0
377         1269         0
378         1270         0
379         1271         0
380         1272         0
381         1273         0
382         1274         1
383         1275         1
384         1276         0
385         1277         1
386         1278         0
387         1279         0
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [30]:
submission_list.to_csv('/kaggle/working/predictions_for_submission', index=False)